# Server
PORT=8080

DATABASE_URL=postgresql://user:password@localhost:5432/database_name

JWT_SECRET=your_long_random_value_min_32_characters
JWT_EXPIRES_IN=24h

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_FROM=your_email@gmail.com


REPORT_EMAIL=admin@example.com

FRONTEND_URL=http://localhost:5173
